*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
secret.auto.tfvars
*.tfstate
bin/
dist/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
examples/provider/secret.auto.tfvars
examples/provider/logs.txt
examples/provider/terraform 2.tfstate
